*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-family: 'Montserrat Alternates', sans-serif;
}

.container {
    position: relative;
    width:1140px;
    margin: 0 auto;
}

.parallax-cultur {
    background: url('../img/Mirsky.jpg') center center/cover no-repeat;
    background-attachment: fixed;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parallax-cultur h1 {
    font-family: 'Montserrat Alternates Medium Italic';
    text-transform: uppercase;
    color:#FFFFFF;
    font-size: 70px;
}

.parallax-cultur .mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    z-index: 2;
}

.parallax-content-cultur {
    z-index: 3;
}

.cultur {
    
}

.quations {
    height: 500px;
    padding: 39px 0 62px 0;
}

.quations .quations_title {
    color: black;
    font-family: 'Montserrat Alternates Italic', sans-serif;
    font-size: 50px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 35px;
}

.quations .text1 {
    margin-top: 130px;
    color: black;
    font-family: 'Montserrat Alternates Light', sans-serif;
    font-size: 40px;
    line-height: 24px;
}

.quations .text2 {
    margin-top: 30px;
    color: black;
    font-family: 'Montserrat Alternates Light', sans-serif;
    font-size: 40px;
    line-height: 24px;
}

.quations .text3 {
    margin-top: 30px;
    color: black;
    font-family: 'Montserrat Alternates Light', sans-serif;
    font-size: 40px;
    line-height: 24px;
}

.parallax-arhi {
    background: url('../img/zamok1.jpg') center center/cover no-repeat;
    background-attachment: fixed;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parallax-arhi h1 {
    font-family: 'Montserrat Alternates Medium Italic';
    text-transform: uppercase;
    color:#FFFFFF;
    font-size: 70px;
}

.parallax-arhi .mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    z-index: 2;
}

.parallax-content-arhi {
    z-index: 3;
}

.arhi {
    
}

.arhi1 {
    height: 800px;
    padding: 39px 0 62px 0;
}

.arhi1 .arhi1_title {
    color: black;
    font-family: 'Montserrat Alternates Italic', sans-serif;
    font-size: 50px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 35px;
}

.arhi1 .arhi1_text {
    margin-top: 80px;
    margin-left: 100px;
    color: black;
    font-size: 30px;
    font-family: 'Montserrat Alternates Light', sans-serif;
    line-height: 35px;
}

.castels ul,
.castels li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.castels li {
    margin-top: -180px;
    display: inline-block;
    width: 450px;
    position: relative;
}

.castels img {
    max-width: 100%;
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 5%;
    margin-left: 50px;
}

.descr1 {
    font-family: 'Montserrat Alternates Extra Light';
    font-size: 30px;
    position: absolute;
    left: 50px;
    top: 51px;
    width: 401px;
    height: 400px;
    border-radius: 5%;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    padding-top: 70px;
    text-align: center;
    opacity: 0;
    transform: scale(0) rotate(90deg);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border-radius: 80%;
}


.castels li:hover .descr1 {
    opacity: 1;
    top: 10px;
    transform: scale(1) rotate(0deg);
    border-radius: 5%;
}

.button1 {
    margin-top: 100px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Consolas;
}

.button {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #f1a23b;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 4px;
    overflow: hidden; 
    transition: 0,2s;
}

.button__line {
    position: absolute;
    display: block;
}

.button__line--top {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(90deg,transparent,#f1a23b);
}

.button:hover .button__line--top {
    left: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.button__line--buttom {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(270deg,transparent,#f1a23b);
}

.button:hover .button__line--buttom {
    right: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.button__line--left {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(0deg,transparent,#f1a23b);
}

.button:hover .button__line--left {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0s;
}

.button__line--right {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,#f1a23b);
}

.button:hover .button__line--right {
    top: 100%;
    transition: 1s;
    transition-delay: 0s;
}

.button__line--right {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg,transparent,#f1a23b);
}

.button:hover {
    box-shadow: 0 0 10px #f1a23b, 0 0 40px #f1a23b, 0 0 80px #f1a23b;
    background: #f1a23b;
    color: #333;
    transition-delay: 1s;
}

.parallax-odejda {
    margin-top: 100px;
    background: url('../img/odejda.jfif') center center/cover no-repeat;
    background-attachment: fixed;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parallax-odejda h1 {
    font-family: 'Montserrat Alternates Medium Italic';
    text-transform: uppercase;
    color:#FFFFFF;
    font-size: 70px;
}

.parallax-odejda .mask1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    z-index: 2;
}

.parallax-content-odejda {
    z-index: 3;
}

.odejda {}

.odejda1{
    height: 800px;
    padding: 39px 0 62px 0;
}

.odejda1 .title {
    color: black;
    font-family: 'Montserrat Alternates Italic', sans-serif;
    font-size: 50px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 35px;
}

.odejda1 .text{
    margin-top: 80px;
    margin-left: 100px;
    color: black;
    font-size: 30px;
    line-height: 35px;
    font-family: 'Montserrat Alternates Light', sans-serif;
}

.odejdy ul,
.odejdy li {
    margin: 10px;
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
}

.odejdy li {
    margin-top: -270px;
    display: inline-block;
    width: 450px;
    position: relative;
}

.odejdy img {
    display: flex;
    max-width: 100%;
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 5%;
    margin-left: 50px;
}

.descr2 {
    font-family: 'Montserrat Alternates Extra Light';
    font-size: 30px;
    position: absolute;
    left: 50px;
    top: 51px;
    width: 401px;
    height: 400px;
    border-radius: 5%;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    padding-top: 70px;
    text-align: center;
    opacity: 0;
    transform: scale(0) rotate(90deg);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border-radius: 80%;
}

.odejdy li:hover .descr2 {
    opacity: 1;
    top: 10px;
    transform: scale(1) rotate(0deg);
    border-radius: 5%;
}

.button2 {
    margin-top: -400px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Consolas;
}

.parallax-kuhny {
    margin-top: 100px;
    background: url('../img/kuchny.jfif') center center/cover no-repeat;
    background-attachment: fixed;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parallax-kuhny h1 {
    font-family: 'Montserrat Alternates Medium Italic';
    text-transform: uppercase;
    color:#FFFFFF;
    font-size: 70px;
}

.parallax-kuhny .mask2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    z-index: 2;
}

.parallax-content-kuhny {
    z-index: 3;
}

.kuhny {
    
}

.kuchny1 {
    height: 1400px;
    padding: 39px 0 62px 0;
}

.kuchny1 .title {
    color: black;
    font-family: 'Montserrat Alternates Italic', sans-serif;
    font-size: 50px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 35px;
}

.kuchny1 .text {
    margin-top: 80px;
    margin-left: 100px;
    color: black;
    font-size: 30px;
    line-height: 35px;
    font-family: 'Montserrat Alternates Light', sans-serif;
}

.eda ul,
.eda li {
    margin: 10px;
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
}

.eda li {
    margin-top: -270px;
    display: inline-block;
    width: 450px;
    position: relative;
}

.eda img {
    display: flex;
    max-width: 100%;
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 5%;
    margin-left: 50px;
}

.descr3 {
    font-family: 'Montserrat Alternates Extra Light';
    font-size: 30px;
    position: absolute;
    left: 50px;
    top: 51px;
    width: 401px;
    height: 400px;
    border-radius: 5%;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    padding-top: 70px;
    text-align: center;
    opacity: 0;
    transform: scale(0) rotate(90deg);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border-radius: 80%;
}

.eda li:hover .descr3 {
    opacity: 1;
    top: 10px;
    transform: scale(1) rotate(0deg);
    border-radius: 5%;
}

.button3 {
    margin-top: -400px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Consolas;
}

footer {
    margin-top: 100px;
    height: 300px;
    background: chocolate;
    padding: 39px 0 62px 0;
}

.descr1 .button1{
    height: auto;
    width: auto;
    }